/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/*                          - - - - - - - - - - - - - DEVICE - css/style.css - - - - - - - - - - - - -                          */

/*                          - - - - - - - - - - - - - Шрифты - - - - - - - - - - - - -                          */
 
@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src:
          url("../fonts/opensans.woff") format("woff"),
          url("../fonts/opensans.woff2") format("woff2");
  } 
  
  @font-face {
    font-family: "Open Sans";
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src:
          url("../fonts/opensanslight.woff") format("woff"),
          url("../fonts/opensanslight.woff2") format("woff2");
  } 
  
  @font-face {
    font-family: Gilroy;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src:
          url("../fonts/gilroylight.woff") format("woff"),
          url("../fonts/gilroylight.woff2") format("woff2");
  } 
  
  @font-face {
    font-family: Gilroy;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src:
          url("../fonts/gilroyextrabold.woff") format("woff"),
          url("../fonts/gilroyextrabold.woff2") format("woff2");
  } 
  
  /*                          - - - - - - - - - - - - - Базовые свойства - - - - - - - - - - - - -                          */
  
  html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  } 
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  
    background-color: #ffffff;
  
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 2;
    color: #464646;
    font-weight: 300;
    letter-spacing: 0.15px;
  }
  
  img {
    max-width: 100%;
    height: auto;
   }
  
  a {
    text-decoration: none;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  /* Убираем стрелки в input[type=number] */
  
  input[type=number] {
    -moz-appearance:textfield; /* Firefox */ 
  }
  
  /*                          - - - - - - - - - - - - - Кнопки - - - - - - - - - - - - -                          */
  
  .yellow-button {
    border: 0;
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    min-width: 160px;
    cursor: pointer;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    background-color: inherit;
  }
  
  .yellow-button::after {
    min-width: 160px;
    content: "";
    height: 8px;
    background-color: #f0c52e;
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
  }
  
  .yellow-button:hover::after,
  .yellow-button:focus::after {
    height: 40px;
    top: -4px;
  }
  
  .yellow-button:active {
    color: rgba(0, 0, 0, 0.3);
  }
  
  .filter-aside .yellow-button::after {
    width: 200px;
    margin-left: -100px;
    margin-top: -4px;
  }
  
  .slider-info .yellow-button {
    margin-left: 30px;
  }
  
  .slider-info .yellow-button::after {
    width: 220px;
    margin-left: -110px;
    margin-top: -4px;
  }
  
  .about-us-section .yellow-button::after {
    width: 260px;
    margin-left: -130px;
    margin-top: -4px;
  
  }
  
  /*                          - - - - - - - - - - - - - Header - - - - - - - - - - - - -                          */
  
  .page-header {
    background-color: rgb(240, 197, 46, 0.5); /* f0c52e в RGBA */ 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0 60px;
    width: 1160px;
    height: 186px;
  
    position: relative;
  }
  
  .index-header {
    height: 299px;
  }
  
  .page-header input[type="text"] {
    color: rgba(0, 0, 0, 0.3);
    border: 0;
    background-color: inherit;
  }
  
  .page-header input[type="text"]:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  
  .page-header input[type="text"]:active,
  .page-header input[type="text"]:focus {
    color: rgba(0, 0, 0, 1);
  }
  
  .page-header ul {
    list-style-type: none;
  }
  
  .page-header a {
    color: rgba(0, 0, 0, 1);
  }
  
  .page-header a:hover,
  .page-header a:focus {
    color: rgba(0, 0, 0, 0.6);
  }
  
  .page-header a:active {
    color: rgba(0, 0, 0, 0.3);
  }
  
  /*                          - - - - - - - - - - - - - Header / Логотип - - - - - - - - - - - - -                          */
  
  .logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
    position: absolute;
    margin-top: -18px;
  }
  
  .logo:hover,
  .logo:focus {
    opacity: 0.6;
  }
  
  .logo:active {
    opacity: 0.3;
  }
  
  /*                          - - - - - - - - - - - - - Header / Пользовательская навигация - - - - - - - - - - - - -                          */
  
  .user-nav {
   width: 100%;
   margin-top: 32px;
   padding: 0;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   height: 50px;
  }
  
  .user-nav svg {   
    margin: 0;                
    margin-top: 17px;
    margin-left: 3px;
    margin-right: 14px;
  }
  
  .user-nav li {
    font-size: 15px;
  }
  
  .user-nav li:nth-child(1) {
    width: 498px;
    margin-right: 36px;
  }
  
  .user-nav .user-nav-login {
    min-width: 169px;
    margin-right: 7px;
  }
  
  .user-nav-login svg { 
    margin-left: 5px;
    margin-right: 10px;
  }
  
  .index-header .user-nav-exit {
    visibility: hidden;
  }
  
  .user-nav .user-nav-exit {
    min-width: 70px;
    margin-right: 40px;
    padding-left: 7px;
  }
  
  .user-nav .user-nav-compare {
    min-width: 105px;
    margin-right: 20px;
  }
  
  .user-nav-compare svg {
    margin-left: 7px;
    margin-right: 7px;
  }
  
  .user-nav .user-nav-cart {
    min-width: 95px;
    margin-right: 0;
    text-align: right;
  }
  
  .user-nav-cart svg { 
    margin-right: 7px;
  }
  
  .user-nav a{
    line-height: 50px;
  }
  
  .user-nav-link:hover svg,
  .user-nav-link:focus svg {
    opacity: 0.6;
  }
  
  .user-nav-link:active svg {
    opacity: 0.3;
  }
  
  .user-nav input[type="text"] {
    width: 278px;
    height: 49px;
  }
  
  .search-button {
    display: none;
    border: 0;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
    background-color: inherit;
    width: 85px;
    height: 49px; 
    cursor: pointer;
  }
  
  .search-button:hover,
  .search-button:focus {
    background-color: #000000;
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    vertical-align: middle;
    outline: none;
  }
  
  .search-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #000000;
    outline: none;
  }
  
  .search-label,
  .search-label .input-search:hover {
    cursor: pointer;
  }
  
  .search-label .input-search::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
  
  .search-label .input-search::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
  
  .search-label .input-search:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
  
  .search-label .input-search::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
  
  .search-label .input-search::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
    
  .search-label .input-search:hover::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
  }
    
  .search-label .input-search:hover::-moz-placeholder {
    color: rgba(0, 0, 0, 0.6);
  }
    
  .search-label .input-search:hover:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
  }
    
  .search-label .input-search:hover::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
  }
    
  .search-label .input-search:hover::placeholder {
    color: rgba(0, 0, 0, 0.6);
  }
  
  .search-label .input-search:focus::-webkit-input-placeholder, .search-label .input-search:active::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 1);
  }
  
  .search-label .input-search:focus::-moz-placeholder, .search-label .input-search:active::-moz-placeholder {
    color: rgba(0, 0, 0, 1);
  }
  
  .search-label .input-search:focus:-ms-input-placeholder, .search-label .input-search:active:-ms-input-placeholder {
    color: rgba(0, 0, 0, 1);
  }
  
  .search-label .input-search:focus::-ms-input-placeholder, .search-label .input-search:active::-ms-input-placeholder {
    color: rgba(0, 0, 0, 1);
  }
  
  .search-label .input-search:focus::placeholder,
  .search-label .input-search:active::placeholder {
    color: rgba(0, 0, 0, 1);
  }
  
  .search-label .input-search:focus {
    outline: none;
    color: #000000;
  }
  
  .input-search:focus ~ .search-button {
    border: 0;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
    width: 85px;
    height: 49px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
  
  .input-search:focus ~ .search-button::after {
    content: "";
    width: 403px;
    height: 2px;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  a.exit-button {
    color: rgba(0, 0, 0, 0.3);
  }
  
  /*                          - - - - - - - - - - - - - Header / Основаная навигация - - - - - - - - - - - - -                          */
  
  .nav {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.33;
    color: #000000;
    font-weight: 800;
    letter-spacing: 3.6px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
    margin-top: 5px;
  }
  
  .nav-list {
    padding: 0;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .nav-list-item {
    display: inline-block;
    vertical-align: middle;
  }
  
  .nav-list-item:nth-child(1) {
    margin-right: 293px;
    min-width: 247px;
  }
  
  .nav-list-item:nth-child(1) svg {
    margin-left: 3px;
  }
  
  .nav-list-item:nth-child(2) {
    margin-right: 34px;
    min-width: 125px;
  }
  
  .nav-list-item:nth-child(3) {
    margin-right: 103px;
    min-width: 115px;
  }
  
  .nav-list-item:nth-child(4) {
    min-width: 123px;
    position: relative;
    left: 5px;
  }
  
  /*                          - - - - - - - - - - - - - Header / Основаная навигация / Выпадающее меню - - - - - - - - - - - - -                          */
  
  .nav-catalog {
    display: none;
    position: absolute;
    padding: 0;
    padding-top: 20px;
    height: 164px;
    width: 1160px;
    margin-left: -60px;
    background-color: #F7E296;
    z-index: 5;
  }
  
  .nav-catalog ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  
  .nav-list li:hover > .nav-catalog {
    display: inherit;
  }
  
  .nav-catalog li {
    /* Шрифт */
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2.4;
    letter-spacing: 0.15px;
    text-align: left;
    color: #000000;
    text-transform: none;
  
    /* Все остальное*/
    float: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 298px;
    padding-right: 30px;
  }
  
  .nav-catalog li:nth-of-type(1),
  .nav-catalog li:nth-of-type(4),
  .nav-catalog li:nth-of-type(6) {
    padding-left: 60px;
    padding-right: 58px;
  }
  
  .nav-catalog li:nth-of-type(2),
  .nav-catalog li:nth-of-type(5) {
    width: 197px;
    padding-right: 67px;
  }
  
  .nav-catalog li:nth-of-type(3) {
    width: 500px;
  }
  
  .nav-catalog li:nth-of-type(6) {
    width: 800px;
  }
  
  .anchor-link svg{
    opacity: 0.3;
    display: inline;
    vertical-align: middle;
  }
  
  /*                          - - - - - - - - - - - - - Основная часть. Заголовок - - - - - - - - - - - - -                          */
  
  .main-page h1 {
    /* Блочная модель */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 1160px;
    margin: 0 auto;
    margin-top: 38px;
    padding-left: 60px;
  
    /* Типографика */
    font-family: Gilroy, Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 1.02;
    letter-spacing: 0.47px;
    text-align: left;
    color: #000000;
  }
  
  /*                          - - - - - - - - - - - - - Index.html - - - - - - - - - - - - -                          */
  
  /*                          - - - - - - - - - - - - - Index.html / Слайдер - - - - - - - - - - - - -                          */
  
  .slider {
    /* Позиционирование */
    position: relative;
    
    /* Блочная модель */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 1160px;
    margin: 0 auto;
    margin-top: -114px;  
  }
  
  .slider-controls {
    /* Позиционирование */
    position: absolute;
    right: 69px;
    top: 320px;
    z-index: 20;
  }
  
  .slider-controls label {
    /* Блочная модель */
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    margin-right: 16px;
  
    /* Оформление */
    background-color: inherit;
    background-image: url("../img/slider-button-empty.svg");
    background-size: cover;
    cursor: pointer;
  }
  
  .slider .slide {
    display: none;
  }
  
  #product-1:checked ~ .slider-controls label[for="product-1"],
  #product-2:checked ~ .slider-controls label[for="product-2"],
  #product-3:checked ~ .slider-controls label[for="product-3"] {
    background-image: url("../img/slider-button.svg");
  }
  
  #product-1:checked ~  #slide1,
  #product-2:checked ~  #slide2,
  #product-3:checked ~  #slide3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .slider-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1160px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }
  
  .slider-item::before {
    width: 100px;
    height: 7px;  
    background-color: #ffffff;
    content: " ";
    right: 460px;
    top: 40px;
    position: absolute;
  }
  
  .slider-item::after {
    /* Позиционирование */
    position: absolute;
    right: 65px;
    top: 8px;
    z-index: -1;
  
    /* Блочная модель */
    width: 166px;
    height: 131px;
    margin-top: -20px;
  
    /* Типографика */
    font-family: Gilroy, Arial, sans-serif;
    font-size: 179px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 1.79px;
    text-align: right;
    color: #ffffff;
  }
  
  .slider-item:nth-of-type(2)::after {
    content: "01";
  }
  
  .slider-item:nth-of-type(3)::after {
    content: "02";
  }
  
  .slider-item:nth-of-type(4)::after {
    content: "03";
  }
  
  .slider-image {
    margin: auto;
  }
  
  .slider-info {
    min-width: 597px;
    padding-left: 36px;
  }
  
  .slider-info h2 {
    /* Позиционирование */
    margin-top: 82px;
    margin-bottom: 20px;
    z-index: 50;
  
    /* Типографика */
    font-family: Gilroy, Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 1.19;
    letter-spacing: 0.47px;
    text-align: left;
    color: #000000;
    width: 510px;
  }
  
  .slider-info p {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.15px;
    text-align: left;
    color: #464646;
    margin-bottom: 48px;
    width: 485px;
  }
  
  /*                          - - - - - - - - - - - - - Index.html / Слайдер / Хак: загружаем изображения слайдера заранее - - - - - - - - - - - - -                          */
  
  .slider-image::before,
  .slider-image::after {
    content: "";
    visibility: hidden;
  }
  
  .slider-image::before{
    background-image: url("../img/slider-2.png");
  }
  
  .slider-image::after {
    background-image: url("../img/slider-3.png");
  }
  
  /*                          - - - - - - - - - - - - - Index.html / Слайдер / Стилизация характеристик - - - - - - - - - - - - -                          */
  
  .slider-info dl {
    /* Блочная модель */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 80px;
    margin-top: 56px;  
  }
  
  .slider-info dt {
    /* Типографика */
    font-family: Gilroy, Arial, sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: 0.36px;
    text-align: left;
    color: #000000;
  
    /* Блочная модель */
     padding-bottom: 10px;
  
  }
  
  .slider-info dd {
    /* Типографика */
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 0.13px;
    text-align: left;
    color: #464646;
  
    /* Блочная модель */
    margin: 0;
  }
  
  .slider-info dt:not(:first-of-type),
  .slider-info dd:not(:first-of-type) {
    margin-left: -52px;
  }
  
  /*                          - - - - - - - - - - - - - Index.html / Блок с разделами товаров - - - - - - - - - - - - -                          */
  
  .items-list {
    /* Блочная модель */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1160px;
    margin: 0 auto;
    margin-top: 95px;
    padding: 0;
  
    /* Оформление */
    list-style-type: none;
  }
  
  .product-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  
  .product-link {
    /* Блочная модель */
    width: 160px;
  }
  
  .product-image {
    /* Блочная модель */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 160px;
    height: 160px;
  
    /* Оформление */
    background-color: rgb(240, 197, 46, 0.5);
  }
  
  .product-section:nth-of-type(2) svg {
    margin-top: 40px;
  }
  
  .product-link:hover .product-image,
  .product-link:focus .product-image {
    background-color: rgb(240, 197, 46, 1);
  }
  
  .product-link:active .product-image {
    background-color: rgb(240, 197, 46, 1);
  }
  
  .product-link:active p {
    /* Типографика */
    color: rgba(0, 0, 0, 0.3);
  }
  
  
  .product-image svg {
    margin: auto;
  }
  
  .product-section p {
    /* Типографика */
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.18px;
    text-align: left;
    color: #000000;
    margin-top: 35px;
  }
  
  .product-section:active svg {
    opacity: 0.3;
  }
  
  /*                          - - - - - - - - - - - - - Index.html / Блок с преимуществами - - - - - - - - - - - - -                          */
  
  .advantages-wrapper {
    background-color: #e5e5e5;
    margin-top: 163px;
    z-index: 1;
    position: relative;
    min-width: 1160px; /* лечим убегающий фон на маленьком экране */
  }
  
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1160px;
    margin: 0 auto;
    margin-top: 84px; 
    height: 288px;
    position: relative;
  }
  
  .advantages-list input {
    display: none;
  }
  
  .advantages-list ul {
    min-width: 278px;
    list-style-type: none;
    padding: 0;
    margin-top: -40px;
  }
  
  .advantages-list li {
    position: relative;
  }
  
  .advantages-list h3{
    font-family: Gilroy, Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 1.02;
    letter-spacing: 0.47px;
    text-align: left;
    color: #000000;
    margin: 0;
    margin-bottom: 31px;
  }
  
  .advantages-list p{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.15px;
    text-align: left;
    color: #464646;
    width: 440px;
  }
  
  .black-button ~ ul li {
    width: 278px;
    margin: 21px 0;
  }
  
  .black-button ~ ul li:last-child {
    margin-top: 24px;
  }
  
  .black-button ~ ul label {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    width: 160px;
    display: inline-block;
    vertical-align: middle;
    padding: 9px 0;
    z-index: 3;
  }
                                                                            
  .advantages-list label::after {
    width: 160px;
    content: " ";
    height: 8px;
    background-color: #f0c52e;
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    display: block;
    margin-left: -140px;
    margin-top: -4px;
  }
  
  .advantages-list label:hover::after {
    height: 40px;
    top: 5px;
  }
  
  .black-button:nth-of-type(1):checked ~ ul li:nth-of-type(1) label,
  .black-button:nth-of-type(2):checked ~ ul li:nth-of-type(2) label,
  .black-button:nth-of-type(3):checked ~ ul li:nth-of-type(3) label {
    color: #f7e184;
  }
  
  .black-button:nth-of-type(1):checked ~ ul li:nth-of-type(1) ,
  .black-button:nth-of-type(2):checked ~ ul li:nth-of-type(2) ,
  .black-button:nth-of-type(3):checked ~ ul li:nth-of-type(3)  {
    background-color: #000000;
    color: #f7e184;
  }
  
  .advantage-item {
    width: 875px;
    position: relative;
    padding-left: 123px;
    margin: 0;
    margin-top: -27px;
  
  }
  
  .advantage-item svg {
    position: absolute;
    right: 60px;
    top: 11px;
  }
  
  .advantage-item:nth-of-type(2) svg,
  .advantage-item:nth-of-type(3) svg {
    top: 0;
    margin-top: -12px;
  }
  
  .advantages-list::after {
    position: absolute;
    content: " ";
    background-color: #000000;
    width: 7px;
    height: 319px;
    left: 278px;
    bottom: 69px;
    display: block;
  }
  
  .advantage-item {
    display: none; 
  }
  
  .black-button:nth-of-type(1):checked ~ .advantage-item:nth-of-type(1){
    display: block;
  }
  
  .black-button:nth-of-type(2):checked ~ .advantage-item:nth-of-type(2){
    display: block;
  }
  
  .black-button:nth-of-type(3):checked ~ .advantage-item:nth-of-type(3){
    display: block;
  }
  
  /*                          - - - - - - - - - - - - - Index.html / Блок с партнерами - - - - - - - - - - - - -                          */
  
  .partners-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1160px;
    margin: 0 auto;
    margin-top: 94px;
    padding: 0;
    list-style-type: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .partners-list a {
    width: 260px; 
    height: 100px; 
    display: inline-block;
    vertical-align: middle;
  }
  
  .partner-1 {
    background-image: url("../img/logo-1.png");
  }
  
  .partner-1:hover {
    background-image: url("../img/logo-1-hover.png");
  }
  
  .partner-2 {
    background-image: url("../img/logo-2.png");
  }
  
  .partner-2:hover {
    background-image: url("../img/logo-2-hover.png");
  }
  
  .partner-3 {
    background-image: url("../img/logo-3.png");
  }
  
  .partner-3:hover {
    background-image: url("../img/logo-3-hover.png");
  }
  
  .partner-4 {
    background-image: url("../img/logo-4.png");
  }
  
  .partner-4:hover {
    background-image: url("../img/logo-4-hover.png");
  }
  
  /*                          - - - - - - - - - - - - - Index.html / Блок с о нас / Блок контакты - - - - - - - - - - - - -                          */
  
  .about-us-section {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 87px;
    margin-top: 98px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .about-us {
    width: 560px;
  }
  
  .about-us-section h2 {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 1.02;
    letter-spacing: 0.47px;
    text-align: left;
    color: #000000;
    position: relative;
    margin-bottom: 42px;
  }
  
  .about-us-section h2::before {
    width: 80px;
    height: 7px;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    margin-top: -53px;
  }
  
  .about-us p {
    width: 483px;
    margin-top: 30px;
  }
  
  .about-us-section ul {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 2.5;
  
    margin-top: 67px;
    margin-bottom: 59px;
    list-style-type: circle;
    padding-left: 20px;
  }
  
  .about-us-section li {
    padding-left: 16px;
    color: #e5e5e5;
  }
  
  .about-us-section span {
    color: #000000;
  }
  
  .about-us-section a {
    margin-left: 20px;
  }
  
  .contacts {
    width: 560px;
  }
  
  .contacts a {
    margin: 0;
  }
  
  .contacts p {
    margin-bottom: 40px;
  }
  
  .img-map {
    margin-bottom: 19px;
  }
  
  .contacts .yellow-button {
    margin-top: 50px;
    margin-left: 40px;
  }
  
  /*                          - - - - - - - - - - - - - Catalog.html - - - - - - - - - - - - -                          */
  
  /*                          - - - - - - - - - - - - - Catalog.html / Хлебные крошки - - - - - - - - - - - - -                          */
  .breadcrumbs {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.14px;
    text-align: left;
    list-style-type: none;
  
    display: -webkit-box;
  
    display: -ms-flexbox;
  
    display: flex;
  
    width: 1160px;
    margin: 0 auto;
    margin-top: 25px;
    padding: 0;
    padding-left: 60px;
  }
  
  .breadcrumbs li {
    position: relative;
    margin-right: 39px;
  }
  
  .breadcrumbs li:not(:first-of-type)::after {
    content: "";
  
    position: absolute;
    top: 8px;
    left: 1px;
    margin-left: -24px;
  
    width: 17px;
    height: 29px;
  
    background-image: url("../img/nav-arrow.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  
  .breadcrumb a {
    color: rgba(0, 0, 0, 0.3);
  }
  
  .breadcrumb:not(:last-of-type) a:hover, 
  .breadcrumb:not(:last-of-type) a:focus {
    color: rgba(0, 0, 0, 0.6);
  }
  
  .breadcrumb:not(:last-of-type) a:active {
    color: rgba(0, 0, 0, 0.1);
  } 
  
  /*                          - - - - - - - - - - - - - Catalog.html / Сортировка - - - - - - - - - - - - -                          */
  
  .filter-catalog-wrapper {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #d9d9d9), color-stop(50%, #ebebeb));
    background-image: -o-linear-gradient(left, #d9d9d9 50%, #ebebeb 50%);
    background-image: linear-gradient(to right, #d9d9d9 50%, #ebebeb 50%);
    min-width: 1160px; /* лечим убегающий фон на маленьком экране */
  }
  
  .filter-catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  
    width: 1160px;
    margin: 0 auto;
    margin-top: 46px;
    background-color: #ebebeb;
    height: 71px;
  }
  
  .filter-catalog h3 {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 3.2px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
  
  }
  
  .filter-catalog > h3 {
    width: 327px;
    padding: 0;
    margin: 0;
    padding-left: 60px;
    padding-top: 23px;
    background-color: #d9d9d9; 
  }
  
  .sort-catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 833px;
    padding-top: 23px;
  }
  
  .sort-catalog > h3 {
    padding: 0;
    margin: 0;
    padding-left: 73px;
    width: 250px;
  }
  
  .sort-catalog ul {
    list-style-type: none;
  }
  
  .sort-catalog li {
    display: inline-block;
    vertical-align: middle;
  }
  
  .sort-catalog h3{
    font-family: Gilroy, Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 3.2px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
  }
  
  .sort-nav {
    margin: 0;
    padding: 0;
    margin-top: 2px;
    font-size: 0;
    width: 503px;
  }
  
  .sort-nav li:first-of-type {
    padding-left: 22px;
  }
  
  .sort-nav li {
    padding-right: 30px;
  
  }
  
  .sort-nav a {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
  }
  
  .sort-nav a:hover,
  .sort-nav a:focus {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
  }
  
  .sort-nav a:active {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }
  
  .arrow-nav {
    margin: 0;
    padding: 0;
    width: 80px;
    padding-left: 30px;
    margin-top: -5px;
  }
  
  .arrow-nav li {
    padding-left: 10px;
  }
  
  .arrow-nav li:last-of-type {
    padding-left: 13px;
  }
  
  .arrow-nav a {
    opacity: 0.2;
  }
  
  .arrow-nav a:hover,
  .arrow-nav a:focus {
    opacity: 0.4;
  }
  
  .arrow-nav a:active {
    opacity: 1;
  }
  
  .sort-nav .active-link,
  .arrow-nav .active-link {
    color: #000000;
    opacity: 1;
  }
  
  /*                          - - - - - - - - - - - - - Catalog.html / Список товаров - - - - - - - - - - - - -                          */
  
  .catalog-wrapper {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #ebebeb), color-stop(50%, #ffffff));
    background-image: -o-linear-gradient(left, #ebebeb 50%, #ffffff 50%);
    background-image: linear-gradient(to right, #ebebeb 50%, #ffffff 50%);
    min-width: 1160px; /* лечим убегающий фон на маленьком экране */
  }
  
  
  .catalog-layout {
    width: 1160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; 
    margin: 0 auto;
  }
  
  .page-catalog {
    width: 833px;
    background-color: #ffffff;
  }
  
  .page-catalog ul {
    list-style-type: none;
  }
  
  .goods-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; 
    padding: 0;
    padding-left: 73px;
    margin: 0;
    margin-top: 69px;
  }
  
  .goods-list li {
    width: 360px;
    margin: 0;
  }
  
  .catalog-item {
    /* Позиционирование */
    position: relative;
  }
  
  .catalog-item:hover {
    cursor: pointer;
  }
  
  .catalog-item .flag {
    /* Позиционирование */
    position: absolute;
    top: 27px;
    right: 27px;
    z-index: 20;
    overflow: hidden;
  
    /* Блочная модель */
    width: 61px;
    height: 61px;
  
    /* Оформление */
    opacity: 0.2;
    border: solid 2px #000000;
    border-radius: 50%;
  }
  
  .catalog-item .flag-new {
    padding-top: 17px;
    
    /* Типографика */
    font-family: Gilroy, Arial, sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 1.71;
    letter-spacing: 0.7px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
  }
  
  .catalog-item .actions {
    /* Позиционирование */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  
    /* Блочная модель */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 360px;
    height: 380px;
    padding: 0;
    padding-top: 180px;
  
    background-color: rgba(238, 238, 238, 0.7);
  }
  
  .catalog-item .actions { 
    display: none;
  }
  
  .catalog-item:hover .actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .actions a {
   /* Блочная модель */
   margin: 0 auto;
  }
  
  .actions .yellow-button {
    background-color: rgba(0, 0, 0, 0);
  }
  
  .actions .yellow-button::after {
    width: 200px;
    margin-left: -100px;
    margin-top: -4px;
  
  }
  
  .actions .yellow-button:active {
    color: rgba(0, 0, 0, 0.3);
  }
  
  .actions .compare {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.54;
    letter-spacing: 0.13px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5); 
  
    margin: 0;
    margin-top: 25px;
  }
  
  .actions .compare:hover,
  .actions .compare:focus {
    color: rgba(0, 0, 0, 1); 
  }
  
  .actions .compare:active {
    color: rgba(0, 0, 0, 0.2); 
  }
  
  .catalog-item h2 {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.18px;
    text-align: left;
  
    float: left;
    width: 270px;
    margin-top: 23px;
    margin-bottom: 47px;
  }
  
  .catalog-item a,
  .catalog-item a:hover,
  .catalog-item a:focus,
  .catalog-item a:active {
    color: #000000;
  }
  
  .catalog-item p {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.16px;
    text-align: right;
    color: #464646;
  
    float:right;
    margin-top: 23px;
  }
  
  /*                          - - - - - - - - - - - - - Catalog.html / Блок с боковым фильтром - - - - - - - - - - - - -                          */
  
  .filter-aside {
   background-color: #ebebeb;
   width: 327px;
  }
  
  .filter-aside form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  
  .filter-aside fieldset {
    border: none;
    margin: 0;
    margin-right: 55px;
    width: 201px;
  }
  
  .filter-aside fieldset:nth-child(1) {
    margin-top: 68px;
  }
  
  .filter-aside fieldset:nth-child(2) {
    margin-top: 30px;
  }
  
  .filter-aside fieldset:nth-child(3) {
    margin-top: 5px;
    margin-bottom: 28px;
  }
  
  .filter-aside legend {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.18px;
    text-align: left;
    color: #000000;
    border-top: 2px solid #000000;
    width: 201px;
    padding-top: 11px;
  }
  
  .filter-aside ul {
    list-style-type: none;
    padding: 0;
  }
  
  .filter-aside label {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 2.86;
    letter-spacing: 0.14px;
    text-align: left;
    color: #000000;
  }
  
  .filter-aside label:hover,
  .filter-aside label:focus {
    opacity: 0.6;
  }
  
  .filter-aside label::before {
    width: 27px;   
    display: inline-block;   
    vertical-align: middle;                                          
  }
  
  .filter-aside label:active {
    opacity: 1;
  }
  
  .filter-aside .yellow-button {
    margin: 0;
    left: 0;
    margin-right: 88px;
  }
  
  /*                          - - - - - - - - - - - - - Catalog.html / Сложный фильтр с двойным range - - - - - - - - - - - - -                          */
  
  .filter-item {
    padding-bottom: 37px;
  }
  
  .range-controls {
    position: relative;
    padding: 0;
    padding-top: 30px;  
  }
  
  .range-controls .scale {
    height: 2px;
    background: #dbdbdb;
  }
  
  .range-controls .bar {
    width: 60%;
    height: 2px;
    background: #00ca74;
  }
  
  .range-controls .toggle {
    position: absolute;
    top: 20px; 
    left: 0;
    padding: 0;
  
    cursor: pointer;
  
    display: -webkit-box;
  
    display: -ms-flexbox;
  
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .range-controls .toggle-min {
    left: 0;
    margin-left: -6px;
  }
  
  .range-controls .toggle-max {
    left: 107px;
  }
  
  .toggle-max label {
    margin-left: -18px;
  }
  
  .toggle label {
    max-width: 75px;
    overflow: hidden;
  
    font-family: Gilroy, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.2);
  
    display: -webkit-box;
  
    display: -ms-flexbox;
  
    display: flex;
  }
  
  .toggle input {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.2);
  
    border: none;
    background-color: inherit;
  
    width: 55px;
    margin-left: 5px;
  
  }
  
  .toggle img {
    width: 20px;
    height: 22px;
    margin-bottom: 2px;
  }
  
  .toggle img:active {
    width: 22px;
    height: 24px;
    margin-bottom: 0;
  }
  
  /*                          - - - - - - - - - - - - - Catalog.html / Фильтр по цвету - - - - - - - - - - - - -                          */
  
  .filter-item-color ul {
    margin: 0;
    margin-top: 12px;
    margin-bottom: 17px;
    margin-left: -2px;
  }
  
  .filter-checkbox {
    display: none;
  }
  
  .filter-item-color label {
    position: relative;
    padding: 0;
    padding-left: 40px;
  }
  
  .filter-item-color label::before {
    position: absolute;
    top: 0;
    margin-left: -40px;
    margin-top: -5px;
  }
  
  .filter-checkbox + label::before {
    content: url("../img/checkbox-off.svg");
    margin-right: 13px;
  }
  
  .filter-checkbox:checked + label::before {
    content: url("../img/checkbox-on.svg");
  }
  
  /*                          - - - - - - - - - - - - - Catalog.html / Фильтр Bluetooth - - - - - - - - - - - - -                          */
  
  .filter-item-bluetooth ul {
    margin: 0;
    margin-top: 14px;
  }
  
  .filter-item-bluetooth label {
    position: relative;
    padding: 0;
    padding-left: 38px;
  }
  
  .filter-item-bluetooth label::before {
    position: absolute;
    top: 0;
    margin-left: -40px;
    margin-top: -5px;
  }
  
  .filter-radio {
    display: none;
  }
  
  .filter-radio + label::before {
    content: url("../img/radio-off.svg");
    margin-right: 11px;
  }
  
  .filter-radio:checked + label::before {
    content: url("../img/radio-on.svg");
  }
  
  /*                          - - - - - - - - - - - - - Catalog.html / Если фильтры disabled - - - - - - - - - - - - -                          */
  
  .filter-checkbox:disabled + label::before,
  .filter-radio:disabled + label::before,
  .filter-checkbox:disabled + label:hover::before,
  .filter-radio:disabled + label:hover::before,
  .filter-checkbox:disabled + label:focus::before,
  .filter-radio:disabled + label:focus::before,
  .filter-checkbox:disabled + label:active::before,
  .filter-radio:disabled + label:active::before {
    opacity: 0.25;
  }
  
  .filter-checkbox:disabled + label,
  .filter-radio:disabled + label,
  .filter-checkbox:disabled + label:hover,
  .filter-radio:disabled + label:hover,
  .filter-checkbox:disabled + label:focus,
  .filter-radio:disabled + label:focus,
  .filter-checkbox:disabled + label:active,
  .filter-radio:disabled + label:active {
    opacity: 0.25;
    color: #000000;
  }
  
  /*                          - - - - - - - - - - - - - Catalog.html / Пагинация - - - - - - - - - - - - -                          */
  
  .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 73px;
    margin-top: -10px;
  }
  
  .pagination > ul{
    list-style-type: none;
    background-color: #ebebeb;
  
    display: -webkit-box;
  
    display: -ms-flexbox;
  
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 760px;
    height: 70px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 77px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .pagination a {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3.2px;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
  }
  
  .pagination a:hover,
  .pagination a:focus {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3.2px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
  }
  
  .pagination a:active {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3.2px;
    text-align: left;
    color: #000000;
  }
  
  .pagination-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 136px;
  }
  
  .pagination-item:nth-of-type(2) {
    width: 488px;
  }
  
  .pagination-item a{
    margin: auto;
    padding-top: 26px;
    padding-bottom: 25px;
  }
  
  .pagination-item a:not([href]) {
    color: #000000;
  }
  
  .pagination-item:first-child a {
    padding-left: 30px;
  }
  
  .pagination-item:last-child a {
    padding-right: 30px;
    text-align: right;
  }
  
  .pagination-item:first-child a,
  .pagination-item:last-child a {
    color: #000000;
    text-transform: uppercase;
    width: 136px;
  }
  
  .pagination-item:first-child:hover,
  .pagination-item:last-child:hover,
  .pagination-item:first-child:focus,
  .pagination-item:last-child:focus {
    background-color: #d9d9d9;
  }
  
  .pagination-item:first-child a:active,
  .pagination-item:last-child a:active {
    background-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.3);
  }
  
  .pagination-numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0 auto;
  }
  
  .pagination-numbers li:not(:last-of-type) {
    padding: 0;
    padding-right: 7px;
  }
  
  .pagination-numbers a {
    padding: 0;
    padding-top: 26px;
    padding-left: 10px;
    display: block;
    width: 30px;
  }
  
  /*                          - - - - - - - - - - - - - Footer - - - - - - - - - - - - -                          */
  
  .page-footer {
    background-color: #464646;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  
    min-width: 1160px; /* лечим разъезжающийся экран */
  }
  
  .footer-layout {
    width: 1160px;
    margin: 0 auto;
  
    display: -webkit-box;
  
    display: -ms-flexbox;
  
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  
  .footer-layout:nth-child(1) {
    margin-top: 62px;
  }
  
  .footer-layout:nth-child(2) {
    margin-top: 35px;
    max-height: 30px;
  }
  
  .footer-layout:nth-child(3) {
    margin-top: 63px;
    margin-bottom: 66px;
  }
  
  .footer-layout p {
    margin: 0;
  }
  
  /*                          - - - - - - - - - - - - - Footer / Первый ряд - - - - - - - - - - - - -                          */
  
  .footer-user-nav,
  .page-footer ul {
    list-style-type: none;
    margin: 0;
  }
  
  .footer-user-nav li{
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
  }
  
  .footer-user-nav svg{
    margin-right: 7px;
  }
  
  .footer-user-nav li:last-child{
    margin-right: 0;
    margin-left: 15px;
    }
  
  .footer-user-nav a,
  .page-footer a {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .footer-user-nav a:hover,
  .page-footer a:hover,
  .footer-user-nav a:focus,
  .page-footer a:focus {
    color: rgba(255, 255, 255, 1);
  }
  
  .footer-user-nav a:active,
  .page-footer a:active {
    color: rgba(255, 255, 255, 0.3);
  }
  
  .footer-user-nav .exit-button {
    color: rgba(255, 255, 255, 0.3);
  }
  
  .footer-user-nav .exit-li {
    margin: 0;
    margin-right: 19px;
    margin-left: -5px;
  }
  
  /*                          - - - - - - - - - - - - - Footer / Второй ряд - - - - - - - - - - - - -                          */
  
  .footer-address p {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin: 0;
    width: 280px;
  }
  
  .footer-nav {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    line-height: 2.2;
    color: #ffffff;
    font-weight: 800;
    letter-spacing: 3.6px;
    text-align: left;
    text-transform: uppercase;
    padding: 0;
  
    width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .footer-nav li {
    margin: 0;
    margin-left: 0px;
    margin-right: 35px;
  }
  
  .footer-nav li:last-of-type {
    margin-right: 0;
  }
  
  .footer-nav a {
    color: rgba(255, 255, 255, 1);
  }
  
  .footer-nav a:hover,
  .footer-nav a:focus {
    color: rgba(255, 255, 255, 0.6);
  }
  
  .footer-nav a:active {
    color: rgba(255, 255, 255, 0.3);
  }
  
  .footer-layout:nth-of-type(2) > p {
    width: 280px;
    text-align: right;
  }
  
  /*                          - - - - - - - - - - - - - Footer / Третий ряд - - - - - - - - - - - - -                          */
  
  .footer-decor {
    background-color: #ffc600;
    width: 80px;
    height: 7px;
    position: relative;
    bottom: 11px;
  }
  
  .socials  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 1000px;
    padding: 0;
  }
  
  .socials li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px;
  }
  
  .socials a {
    opacity: 0.3;
  }
  
  .socials a:hover,
  .socials a:focus {
    opacity: 0.6;
  }
  
  .socials a:active {
    opacity: 0.1;
  }
  
  .logo-academy {
    margin-left: 53px;
  }
  
  /* .logo-academy:hover path,
  .logo-academy:focus path {
    fill:
  } */
  
  .logo-academy:hover,
  .logo-academy:focus {
    opacity: 0.6;
  }
  
  .logo-academy:active {
    opacity: 0.3;
  }
  
  /*                          - - - - - - - - - - - - - Pop-up - - - - - - - - - - - - -                          */
  
  @-webkit-keyframes bounce {
    0% {
      -webkit-transform: translateY(-2000px);
              transform: translateY(-2000px);
    }
  
    70% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
  
    90% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @keyframes bounce {
    0% {
      -webkit-transform: translateY(-2000px);
              transform: translateY(-2000px);
    }
  
    70% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
  
    90% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @-webkit-keyframes shake {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
  }
  
  @keyframes shake {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
  }
  
  .modal {
    position: fixed;
    -webkit-box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
            box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
    display: none;
  }
  
  .modal-show {
    display: block;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s;
  }
  
  .modal-error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
  }
  
  /*                          - - - - - - - - - - - - - Модальное окно / Обратная связь - - - - - - - - - - - - -                          */
  
  .modal form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .modal-close {
    position: absolute;
    top: 22px;
    right: 22px;
  
    width: 55px;
    height: 55px;
  
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../img/modal-close.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
  
    z-index: 50;
    opacity: 0.5;
  }
  
  .modal-close:hover,
  .modal-close:focus {
    opacity: 1;
  }
  
  .modal-close:active{
    opacity: 0.3;
  }
  
  .modal-login {
    z-index: 100;
    top: 200px;
    left: 50%;
  
    width: 960px;
    height: 553px;
    padding: 100px;
    margin-left: -480px;
    background-color: #ffffff;
  }
  
  .modal span {
    display: block;
  
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding-bottom: 10px;
  }
  
  .modal input[type="text"],
  .modal input[type="email"] {
    width: 360px;
    height: 50px;
  
    padding-left: 20px;
  }
  
  .modal input[type="text"] {
    margin-right: 40px;
    margin-bottom: 35px;
  }
  
  .modal-login textarea,
  .modal input[type="text"],
  .modal input[type="email"] {
    background-color: #f2f2f2;
    border: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: rgba(70, 70, 70, 1);
  }
  
  .modal-login textarea:hover,
  .modal input[type="text"]:hover,
  .modal input[type="email"]:hover {
    background-color: #eaeaea;
  }
  
  .modal-login textarea:focus,
  .modal input[type="text"]:focus,
  .modal input[type="email"]:focus {
    background-color: #ffffff;
    outline: solid 3px #f0c52e; /* граница для инпутов вместо рамки и стандартной обводки */ 
    color: #464646;
  }
  
  .modal-login textarea:invalid,
  .modal input[type="text"]:invalid,
  .modal input[type="email"]:invalid {
    background-color: #f6dada;
  }
  
  .modal-login textarea {
    width: 760px;
    height: 156px;
    padding-left: 20px;
    padding-top: 15px;
    margin-bottom: 50px;
  }
  
  .modal-login .yellow-button {
    margin-right: 580px;
    margin-left: 20px;
  }
  
  .modal-login .yellow-button::after {
    width: 200px;
    margin-left: -100px;
    margin-top: -4px;
  }
  
  /*                          - - - - - - - - - - - - - Модальное окно / Карта - - - - - - - - - - - - -                          */
  
  .modal-map {
    z-index: 100;
    top: 200px;
    left: 50%;
  
    width: 960px;
    height: 559px;
  
    margin-left: -480px;
  
    background-color: #e5e5e5;
  }
  
  .modal-map iframe {
    position: relative;
    z-index: 2;
  
    border: none;
  }
  
  .modal-map img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  
    /* margin: 0; */
  }