/* Стили */
/* BODY */
/* Шрифты */ 
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src:
        url("../fonts/opensans.woff") format("woff"),
        url("../fonts/opensans.woff2") format("woff2");
} 

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src:
        url("../fonts/opensanslight.woff") format("woff"),
        url("../fonts/opensanslight.woff2") format("woff2");
} 

@font-face {
  font-family: Gilroy;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src:
        url("../fonts/gilroylight.woff") format("woff"),
        url("../fonts/gilroylight.woff2") format("woff2");
} 

@font-face {
  font-family: Gilroy;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src:
        url("../fonts/gilroyextrabold.woff") format("woff"),
        url("../fonts/gilroyextrabold.woff2") format("woff2");
} 

html {
  box-sizing: border-box;
} 

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  background-color: #ffffff;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 2;
  color: #464646;
  font-weight: 300;
  letter-spacing: 0.15px;
}

img {
  max-width: 100%;
 }

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BUTTONS */
.yellow-button {
  background-color: #f0c52e;
  border: 0;

  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.yellow-button:hover,
.yellow-button:focus {

}

.yellow-button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* HEADER */
.page-header {
  background-color: rgb(240, 197, 46, 0.5); /* f0c52e в RGBA */ 
}

.page-header input[type="text"] {
  color: rgba(0, 0, 0, 0.3);
  border: 0;
  background-color: inherit;
}

.page-header input[type="text"]:hover {
  color: rgba(0, 0, 0, 0.6);
}

.page-header input[type="text"]:active,
.page-header input[type="text"]:focus {
  color: rgba(0, 0, 0, 1);
}

.logo:hover,
.logo:focus {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.page-header ul {
  list-style-type: none;
}

.page-header a {
  color: rgba(0, 0, 0, 1);
}

.page-header a:hover,
.page-header a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.page-header a:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: #000000;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-align: left;
  text-transform: uppercase;
}

.nav-list {

}

.nav-list-item {

}

.anchor-link {

}
/*
    MAIN
*/

.main-page h1 {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
}

.breadcrumbs {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 0.14px;
  text-align: left;

  list-style-type: none;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover, 
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
} 
/* 
    FOOTER
*/
.page-footer {
  background-color: #464646;
}

.page-footer ul {
  list-style-type: none;
}

.page-footer a {
  color: rgba(255, 255, 255, 0.7);
}

.page-footer a:hover,
.page-footer a:focus {
  color: rgba(255, 255, 255, 1);
}

.page-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-logo {

}

.footer-address {

}

.footer-nav {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-align: left;
  text-transform: uppercase;
}

.footer-nav a {
  color: rgba(255, 255, 255, 1);
}

.footer-nav a:hover,
.footer-nav a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.socials a {
  opacity: 0.3;
}

.socials a:hover,
.socials a:focus {
  opacity: 0.6;
}

.socials a:active {
  opacity: 0.1;
}

/* Pop-up */
.popup-enter {

}

.popup-map {
    
}

/* 
    index.html 
*/

.slider {

}

.slider-item {

}

.slider-image {

}

.slider-info {

}

.slider-info h2 {
font-family: Gilroy, Arial, sans-serif;
font-size: 47px;
font-weight: 800;
line-height: 1.19;
letter-spacing: 0.47px;
text-align: left;
color: #000000;
}

.slider-info p {
font-family: "Open Sans", Arial, sans-serif;
font-size: 15px;
font-weight: 300;
line-height: 2;
letter-spacing: 0.15px;
text-align: left;
color: #464646;
}

.slider-info dt {
font-family: Gilroy, Arial, sans-serif;
font-size: 36px;
font-weight: 300;
line-height: 1.33;
letter-spacing: 0.36px;
text-align: left;
color: #000000;
}

.slider-info dd {
font-family: "Open Sans", Arial, sans-serif;
font-size: 13px;
font-weight: 300;
font-stretch: normal;
font-style: normal;
line-height: 1.54;
letter-spacing: 0.13px;
text-align: left;
color: #464646;
}

.items-list {
  list-style-type: none;
}

.product-section {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.18px;
  text-align: left;
  color: #000000;

  background-color: rgb(240, 197, 46, 0.5);
}

.product-section:hover,
.product-section:focus {
  background-color: rgb(240, 197, 46, 1);
}

.product-section:active {
  background-color: rgb(240, 197, 46, 1);
}

.product-section:active svg {
  opacity: 0.3;
}

.advantages-list {
  background-color: #e5e5e5;
}

.advantages-list h3{
  font-family: Gilroy, Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
}

.advantages-list p{
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  text-align: left;
  color: #464646;
}

.advantages-list ul {
  list-style-type: none;
}

.advantages-list label {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;

  background-color: #f0c52e;
}

.black-button:hover + label,
.black-button:focus + label {

}

.black-button:active + label {
  background-color: #000000;
  color: #f7e184;
}

.partners-list {

}

.partners-list ul{
  list-style-type: none;
}

.about-us-section {

}

.about-us {

}


.about-us-section h2 {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
}

.about-us-section ul {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  color: #000000;
}

.contacts {

}

/* 
    catalog.html 
*/
.filter-aside {
 background-color: #ebebeb;
}

.filter-aside h3 {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.filter-aside fieldset {
  border: none;
}

.filter-aside legend {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.18px;
  text-align: left;
  color: #000000;
}

.filter-aside ul {
  list-style-type: none;
}

.filter-aside label {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 2.86;
  letter-spacing: 0.14px;
  text-align: left;
  color: #000000;
}

.filter-aside label:hover,
.filter-aside label:focus {
  opacity: 0.6;
}

.sort-catalog {

}

.sort-catalog h3{
  font-family: Gilroy, Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.page-catalog ul {
  list-style-type: none;
}

.sort-nav a {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

.sort-nav a:hover,
.sort-nav a:focus {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}

.sort-nav a:active {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.arrow-nav a {
  opacity: 0.2;
}

.arrow-nav a:hover,
.arrow-nav a:focus {
  opacity: 0.4;
}

.arrow-nav a:active {
  opacity: 1;
}


.catalog-item h2 {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.18px;
  text-align: left;
}

.catalog-item a,
.catalog-item a:hover,
.catalog-item a:focus,
.catalog-item a:active {
  color: #000000;
}

.catalog-item p {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.16px;
  text-align: right;
  color: #464646;
}

.catalog-item {

}

.range-slider {

}

.range-slider-track {

}

.range-slider-pin {

}

.range-slider-pin-min {

}

.range-slider-pin-max {
  
}

.pagination ul{
  list-style-type: none;
  background-color: #ebebeb;
}

.pagination a {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

.pagination a:hover,
.pagination a:focus {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}

.pagination a:active {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-align: left;
  color: #000000;
}

.pagination-item:first-child a,
.pagination-item:last-child a {
  color: #000000;
  text-transform: uppercase;
}

.pagination-item:first-child a:hover,
.pagination-item:last-child a:hover,
.pagination-item:first-child a:focus,
.pagination-item:last-child a:focus {
  background-color: #d9d9d9;
}

.pagination-item:first-child a:active,
.pagination-item:last-child a:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}