/* Стили */
/* BODY */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* HEADER */
.page-header {

}

.nav {

}

.nav-list {

}

.nav-list-item {

}

.anchor-link {

}

.page-footer {

}

/* FOOTER */
.footer-logo {

}

.footer-address {

}

/* BUTTONS */
.yellow-button {

}

/* Pop-up */
.popup-enter {

}

.popup-map {
    
}

/* index.html */
.slider {

}

.slider-item {

}

.slider-image {

}

.slider-info {

}

.advantages-list {

}

.partners-list {

}

.about-us-section {

}

.about-us {

}

.contacts {

}

/* catalog.html */
.filter-aside {

}

.sort-catalog {

}

.catalog-item {

}